/* body */

body {
  height: 100vh;
  font-family: "Noto Sans TC", sans-serif;
  /* background-color: #e8ded4; */
}

.en-font {
  font-family: "Inria Serif", serif !important;
  text-transform: uppercase;
}

.text-uncle-dark {
  color: #6c757d;
}

.text-uncle-light {
  color: #fcfaf2;
}

#productSlide h1,
.text-uncle-title {
  color: #6c757d;
  font-weight: bolder;
  font-style: italic;
  margin: 1rem 0;
  padding: 0;
}

.uncle-bg-dark {
  background: #c6be80;
}

a {
  color: #424c6d;
  cursor: pointer;
}

a:hover {
  color: #424c6d;
  text-decoration: none;
}

/* media */

@media (max-width: 576px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* navbar */

.navbar-bg {
  background: #fff;
  /* background: linear-gradient(180deg, #ffffff, #ffffffa9, #ffffff4f);  */
  /* box-shadow: 0 0 10px 10px #ffffff4f; */
}

.navbar-color a {
  color: rgb(150, 148, 148);
  font-weight: bolder;
}

.navbar-bg .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 992px) {
  #join {
    padding: 8px 0 16px 0;
    display: flex;
    flex-direction: row;
  }
  #productSlide {
    height: 100%;
  }
}
@media (min-width: 992px) {
  #productSlide,
  #brandStory,
  #orderNote {
    height: 100%;
  }
}

/* carousel */

@media (max-width: 576px) {
  .carousel-item img {
    width: 100%;
    object-fit: cover;
  }
  #productSlide {
    height: 70%;
  }
  #brandStory,
  #orderNote {
    height: auto;
  }
}

@media (min-width: 576px) {
  .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#slideZone .slide {
  opacity: 1;
}

.carousel-indicators {
  bottom: 30px;
}

/* 按鈕 */

.btn-outline-uncle {
  border: 2px solid #424c6d;
  border-radius: 30px;
}

.btn-outline-uncle a {
  color: #424c6d;
  font-weight: bold;
  border-color: #424c6d;
}

.btn-outline-uncle:hover {
  color: #fff;
  background-color: #f8d487;
  border-color: #f8d487;
}

.btn-outline-uncle a:hover {
  color: #fff;
  text-decoration: none;
}

.btn:visited {
  border: 0;
}

/* banner */
.banImg{
    position: relative;
}

.banImg img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: blur(5px); 
}

.banText{
    width: 100%;
    height: 200px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.338);
}

/* 關於我們 */

#brandStory .img,
#contactUs .img,
#orderNote .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @media (max-width: 576px) {

   
    #brandStory .img, #contactUs .img , #orderNote .img{
       padding: 1rem 0;
    }
}

@media (min-width: 992px) {
    #brandStory {
        height: 50%;
    }
} */

/* 聯絡我們 */
#contactUs ul {
  list-style: none;
}

/* footer */

#footerZone a {
  color: #fcfaf2;
}

#footerZone a:hover {
  color: #f8d487;
  text-decoration: none;
}

.copyright {
  letter-spacing: 3px;
}

@media (max-width: 576px) {
  #footerList a {
    font-size: 0.8rem;
  }
  #footerList {
    margin-bottom: 3px;
  }
  .copyright {
    font-size: 0.9rem;
  }
}

#brandStory h1 {
  padding: 3% 0 !important;
}

/* read more btn */
.btn-readmore {
  color: #424c6d;
}
.btn-readmore:hover {
  color: #fff;
  background-color: #f8d487;
  border-color: #f8d487;
  border-radius: 20px;
}

/* table文字置中 */
.table td,
td {
  vertical-align: middle !important;
}
